body {
  background-color: black;
  margin: 0;
}
.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  width: 100%;
  height: 1px;
}

.vertical {
  width: 1px;
  height: 100%;
}
.target {
  position: absolute;
  /* 이미지 요소의 x,y의 절반만큼 왼쪽 위로 이동하면 가운데로 간다.  */
  transform: translate(-50%, -50%);
}

.tag {
  color: white;
  position: absolute;
  font-size: 20px;
  margin: 20px;
}
